In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from textwrap import wrap
from IPython.display import display_html
import IPython
import re
# pd.set_option('display.max_colwidth', None)
# import seaborn as sns
# sns.set()

In [2]:
df = pd.read_excel('respostas.xlsx', sheet_name='RESPOSTAS', skiprows=1)
# df.drop(['Carimbo de data/hora', 'Entrevistador:', 'Entrevistada(o):', 'Endereço', 'Casa:', 'Bairro/Distrito:'],axis=1, inplace=True)
df = df.applymap(lambda x: x.lower() if isinstance(x, str) else x)
df.replace('nao', 'não', inplace=True)
df.replace('nâo', 'não', inplace=True)
df = df.apply(lambda x: pd.to_numeric(x, errors='ignore'))
cols = list(df.columns)

In [3]:
for i in range(1,223):
   html = '''
     <div style="text-align:center; width: 1000px">
        <h2>titulo</h2>
        <div style="position:relative; float:left; margin-right: 20px"><img src="imagem"/></div>
        <div style="position:relative; float:left;">data_frame</div>
     </div>
   '''
   c = cols[i]
   title = re.sub("\d+", "", c)
   title = re.sub("\.", "", title)
   title = re.sub("^\s", "", title)
   title = str(i) + '. ' + title
   dados = df[c].value_counts()
   t = sum(dados)
   dados = pd.DataFrame(data={'Contagem':dados, 'Porcentagem':np.round(100*dados/t,2)})
   dados_plot = dados.head()   
   dados_plot = dados_plot.sort_values(by=['Contagem'], ascending=True)

   data = dados_plot['Contagem']
   label = ['\n'.join(wrap(str(l), 40)) for l in dados_plot.index ]
   data.plot(kind='barh', figsize=(10,4))
   plt.xticks(fontsize=10)
   plt.box(on=None)
   plt.yticks(ticks= np.arange(len(data.index)), fontsize=10, labels=label)
   total = np.sum(data)
   for index, value in enumerate(data): 
       label = format(int(value), ',')
#        percent = '{:.0f}%'.format(value / total * 100)
#        plt.annotate(label + '\n' + percent, xy=(value+0.2, index-0.2), color='black', fontsize=12)
       plt.annotate(label, xy=(value+0.2, index-0.2), color='black', fontsize=10)
   plt.tight_layout()

   plt.savefig('img/'+str(i)+'.png')
   plt.close()
   
   html = '''
     <div style="text-align:center; position:relative; border: solid 1px; margin-bottom: 320px; border-radius: 5px; background: #f2f2f2">
        <h2>titulo</h2>
        <div style="position:relative; float:left; margin-right: 20px; margin-top: 1px;"><img src="imagem"/></div>
        <div style="position:relative; float:left; margin-top: 10px;"">data_frame</div>
     </div>
   '''
   html = html.replace('data_frame', dados.head(10).sort_values(by=['Contagem'], ascending=False).to_html()).replace('imagem', 'img/'+str(i)+'.png').replace('titulo', title)
   display_html(html, raw=True)

,Contagem,Porcentagem
feminino,215,53.09
masculino,190,46.91

,Contagem,Porcentagem
não,269,71.73
sim,106,28.27

,Contagem,Porcentagem
heterossexual,84,77.78
hetero,15,13.89
homossexual,3,2.78
bissexual,2,1.85
hétero,2,1.85
feminino,1,0.93
heterosexual,1,0.93

,Contagem,Porcentagem
branco,246,61.19
pardo,105,26.12
negro,40,9.95
amarelo,10,2.49
preto,1,0.25

,Contagem,Porcentagem
sim,214,53.9
não,183,46.1

,Contagem,Porcentagem
aposentado,98,24.56
do lar,45,11.28
desempregado,19,4.76
comerciante,15,3.76
domestica,13,3.26
professor,9,2.26
empresario,9,2.26
aposentada,9,2.26
autonomo,7,1.75
vendedor,7,1.75

,Contagem,Porcentagem
serviços,80,32.26
comércio,37,14.92
indústria,30,12.10
autonomo,10,4.03
agricultura,5,2.02
aposentado,5,2.02
comercio,4,1.61
do lar,3,1.21
serviço,3,1.21
industria,2,0.81

,Contagem,Porcentagem
autonomo,15,6.47
em casa,7,3.02
aposentado,6,2.59
mocdrol,5,2.16
desempregado,4,1.72
casa,4,1.72
casa de família,4,1.72
usina ipiranga,3,1.29
mococa,3,1.29
usina itaiquara,3,1.29

,Contagem,Porcentagem
esposo,63,22.34
pai,62,21.99
esposa,54,19.15
mãe,36,12.77
filha,22,7.80
filho,20,7.09
marido,8,2.84
irmão,6,2.13
irmã,3,1.06
neto,2,0.71

,Contagem,Porcentagem
sim,214,84.92
não,38,15.08

,Contagem,Porcentagem
aposentado,29,11.20
autonomo,9,3.47
mocdrol,7,2.70
pedreiro,4,1.54
domestica,4,1.54
do lar,4,1.54
maza,4,1.54
usina itaiquara,3,1.16
prefeitura de mococa,3,1.16
usina ipiranga,3,1.16

,Contagem,Porcentagem
20,24,10.26
10,19,8.12
15,15,6.41
1,15,6.41
4,15,6.41
5,15,6.41
2,14,5.98
3,13,5.56
6,11,4.70
30,9,3.85

,Contagem,Porcentagem
mococa,190,82.61
mococa e região,5,2.17
igaraí,3,1.30
distrito industrial,3,1.30
centro,2,0.87
distrito indústrial,2,0.87
são paulo,2,0.87
mococa - sp,1,0.43
arceburgo,1,0.43
sao jose,1,0.43

,Contagem,Porcentagem
sim,177,73.75
não,63,26.25

,Contagem,Porcentagem
2000.0,15,8.77
1500.0,14,8.19
3000.0,13,7.60
1800.0,13,7.60
2500.0,11,6.43
1300.0,9,5.26
1000.0,9,5.26
998.0,9,5.26
1200.0,8,4.68
4000.0,7,4.09

,Contagem,Porcentagem
mãe,30,28.30
pai,18,16.98
filha,14,13.21
filho,14,13.21
esposa,7,6.60
esposo,4,3.77
irmão,4,3.77
irmã,4,3.77
genro,2,1.89
pai.,1,0.94

,Contagem,Porcentagem
sim,84,83.17
não,17,16.83

,Contagem,Porcentagem
aposentado,18,17.65
casa,3,2.94
usina ipiranga,3,2.94
domestica,2,1.96
nestlé,2,1.96
hospital,2,1.96
autonomo,2,1.96
metalurgica inca,1,0.98
publicitário autonomo,1,0.98
supermercado supremo,1,0.98

,Contagem,Porcentagem
mococa,72,84.71
são josé do rio pardo,2,2.35
várias fazendas,1,1.18
arceburgo mg,1,1.18
"mococa, são benedito das areias",1,1.18
guaxupé,1,1.18
trabalho com internet,1,1.18
igarai,1,1.18
são paulo,1,1.18
centro,1,1.18

,Contagem,Porcentagem
3,10,11.76
10,9,10.59
5,9,10.59
2,6,7.06
8,6,7.06
1,5,5.88
0.8,4,4.71
6,4,4.71
4,3,3.53
7,3,3.53

,Contagem,Porcentagem
sim,60,68.97
não,27,31.03

,Contagem,Porcentagem
1200.0,10,16.67
998.0,6,10.00
3000.0,6,10.00
1000.0,6,10.00
2000.0,5,8.33
1800.0,5,8.33
1500.0,4,6.67
2500.0,2,3.33
1300.0,2,3.33
960.0,2,3.33

,Contagem,Porcentagem
filho,12,41.38
mãe,4,13.79
filha,4,13.79
irmã,2,6.90
estudante,1,3.45
neto,1,3.45
avó,1,3.45
sobrinha,1,3.45
"mora sozinha, tem 5 filhos todos casados",1,3.45
irmão,1,3.45

,Contagem,Porcentagem
sim,17,94.44
não,1,5.56

,Contagem,Porcentagem
gelita,2,11.11
empregada domestica,1,5.56
escritorio maziero,1,5.56
comerciante,1,5.56
supermercado lorencini,1,5.56
lojas kelly,1,5.56
domestica,1,5.56
elvis calçados,1,5.56
supermercado alvorada,1,5.56
creche,1,5.56

,Contagem,Porcentagem
mococa,22,95.65
arceburgo,1,4.35

,Contagem,Porcentagem
5,2,11.11
2,2,11.11
0.9,2,11.11
15 anos,1,5.56
35 anos,1,5.56
0.1,1,5.56
40,1,5.56
alguns meses,1,5.56
28,1,5.56
20,1,5.56

,Contagem,Porcentagem
sim,16,72.73
não,6,27.27

,Contagem,Porcentagem
1000.0,4,30.77
1200.0,2,15.38
1900.0,1,7.69
998.0,1,7.69
2580.0,1,7.69
1600.0,1,7.69
1800.0,1,7.69
1400.0,1,7.69
1500.0,1,7.69

,Contagem,Porcentagem
"filha, 13 anos",1,25.0
filha,1,25.0
"filha, que ainda não trabalha.",1,25.0
2,1,25.0

,Contagem,Porcentagem
de 3 a 4 salários mínimos,147,39.10
de 1 a 2 salários mínimos,120,31.91
de 5 a 6 salários mínimos,47,12.50
de 7 a 10 salários mínimos,25,6.65
até um salário mínimo,21,5.59
de 11 a 15 salários mínimos,9,2.39
acima de 16 salários mínimos,6,1.60
não respondeu,1,0.27

,Contagem,Porcentagem
2000.0,8,7.92
3000.0,7,6.93
4000.0,5,4.95
6000.0,4,3.96
1300.0,4,3.96
12000.0,3,2.97
2500.0,3,2.97
1200.0,3,2.97
5000.0,3,2.97
1500.0,3,2.97

,Contagem,Porcentagem
2.0,120,30.69
3.0,114,29.16
4.0,78,19.95
1.0,43,11.00
5.0,24,6.14
7.0,6,1.53
6.0,6,1.53

,Contagem,Porcentagem
pai - 35 - analista de sistemas - superior completo,1,1.23
prima/18/não possui/ensino médio completo/2 meses,1,1.23
irmã/58/ultimo emprego-irmãos da marian/ensino fundamental incompleto/10 anos,1,1.23
"filha, 4 anos",1,1.23
filho serviços gerais fundamental 4 anos,1,1.23
"f, 20 anos, 2º grau incompleto, 3 anos",1,1.23
"filho, 19, cursando ensino superior, 3 meses",1,1.23
"mãe, 68 anos, aposentada, ensino fundamental",1,1.23
filho 38 anos superior incompleto administrador,1,1.23
filha / 18 anos / estudante,1,1.23

,Contagem,Porcentagem
2º grau completo,24,37.50
superior,15,23.44
1º grau completo,11,17.19
1º grau incompleto,7,10.94
2º grau incompleto,7,10.94

,Contagem,Porcentagem
esposo,1,5.56
"filho, 19 anos",1,5.56
"f, 18 anos, 2º grau incompleto, 1 ano",1,5.56
"filha, 26 anos, revendedor, até 9* ano, 10 anos",1,5.56
filha 42 do lar2º grau completo não está procurando emprego,1,5.56
irmão 56 anos servente de pedreiro fundamental incompleto mais de 1 ano,1,5.56
"filha, 8 anos, fundamental, não trabalha",1,5.56
"irma, enaino medio completo, desempregada a 1 ano",1,5.56
filha 2 grau procurando serviço,1,5.56
filha 17 2º ensino médio,1,5.56

,Contagem,Porcentagem
"mae, fundamental incompleto, desempregada a 8 ano",1,20.0
filho - 3 anos,1,20.0
filha professor educacao artistica,1,20.0
"filho 19 anos, estudante",1,20.0
"nora, 25 anos, desempregado, superior incompleto, 2 anos desempregado",1,20.0

,Contagem,Porcentagem
"filho 32 anos, desempregado",1,50.0
neta formada em desing desempregado,1,50.0

,Contagem,Porcentagem
"filhos, 34 anos, desempregado",1,100.0

,Contagem,Porcentagem
2.0,132,42.17
1.0,130,41.53
3.0,37,11.82
0.0,8,2.56
4.0,6,1.92

,Contagem,Porcentagem
não,220,80.88
sim,42,15.44
aposentadoria,4,1.47
pensão,2,0.74
aposentada,1,0.37
bpc,1,0.37
pensão pela morte do marido,1,0.37
não recebo,1,0.37

,Contagem,Porcentagem
130.0,2,22.22
954.0,1,11.11
400.0,1,11.11
20.0,1,11.11
80.0,1,11.11
82.0,1,11.11
124.0,1,11.11
170.0,1,11.11

,Contagem,Porcentagem
aposentadoria,6,15.0
"sim, 15 anos, não informou valor",3,7.5
bolsa família,3,7.5
"pensionista , 32 anos",2,5.0
2 aposentadorias,2,5.0
", bolsa família",2,5.0
bolsa familia.,1,2.5
recebe auxílio da apae,1,2.5
", apae",1,2.5
"bolsa família, mensal, governo (banco)",1,2.5

,Contagem,Porcentagem
não possui,75,19.58
não,36,9.40
sim,7,1.83
"1, mas não soube informar o modelo.",4,1.04
"vw/fusca/1978/r$6.000,00",2,0.52
gol,2,0.52
ecosport,2,0.52
"sim fiat brava 2002 6000,00",1,0.26
"sim moto, titan, 2008",1,0.26
fiat uno 2012,1,0.26

,Contagem,Porcentagem
nasceu em mococa,280,69.83
vive em mococa há mais de 20 anos,96,23.94
vive em mococa de 16 a 20 anos,10,2.49
vive em mococa há um ano,5,1.25
vive em mococa de 6 a 10 anos,4,1.00
vive em mococa de 11 a 15 aos,3,0.75
vive em mococa de 3 a 5 anos,3,0.75

,Contagem,Porcentagem
arceburgo - mg,15,12.30
são josé do rio pardo - sp,10,8.20
são paulo - sp,5,4.10
cajuru - sp,4,3.28
monte santo de minas - mg,4,3.28
guaxupé,2,1.64
cajuru sp,2,1.64
porteiras - ce,2,1.64
vargem grande do sul - sp,2,1.64
são paulo,2,1.64

,Contagem,Porcentagem
não,7,4.58
são paulo - sp / 5 anos,5,3.27
são paulo - sp / 20 anos,4,2.61
são paulo - sp / 10 anos,3,1.96
arceburgo - mg,3,1.96
são paulo - sp,3,1.96
são paulo-sp,2,1.31
monte santo de minas - mg,2,1.31
são paulo por 15 anos,2,1.31
franca - sp / 5 anos,2,1.31

,Contagem,Porcentagem
"pai - brasileiro urbano, mãe - brasileiro urbano",210,52.24
"pai - brasileiro rural, mãe - brasileiro rural",136,33.83
"mãe - brasileiro urbano, pai - brasileiro rural",27,6.72
"pai - brasileiro urbano, mãe - brasileiro rural",14,3.48
não sabe,3,0.75
pai - brasileiro urbano,2,0.50
"pai - brasileiro urbano, mãe - estrangeiro urbano",1,0.25
"pai - brasileiro urbano, mãe - brasileiro urbano, pai - brasileiro rural",1,0.25
"pai - brasileiro urbano, pai - brasileiro rural",1,0.25
mãe - brasileiro urbano,1,0.25

,Contagem,Porcentagem
não,282,69.98
sim,121,30.02

,Contagem,Porcentagem
ribeirão preto,20,15.62
são paulo,12,9.38
campinas,6,4.69
um centro maior,3,2.34
não,3,2.34
são josé do rio pardo,3,2.34
poços de caldas,2,1.56
mogi mirim,2,1.56
uberlândia,1,0.78
rio de janeiro,1,0.78

,Contagem,Porcentagem
gosta da cidade,8,2.30
gosta daqui,4,1.15
trabalho,4,1.15
gosto da cidade,4,1.15
oportunidade de trabalho,3,0.86
segurança e a família toda mora aqui,2,0.57
gosta,2,0.57
por conta da família,2,0.57
por conta da familia e minha filha que se mudou recentemente para lá a trabalho,2,0.57
melhores oportunidades de emprego,2,0.57

,Contagem,Porcentagem
5.0,230,56.93
4.0,148,36.63
3.0,21,5.20
2.0,5,1.24

,Contagem,Porcentagem
boa qualidade,50,14.33
bom,33,9.46
bem tratada,24,6.88
boa,13,3.72
não falta,9,2.58
bom funcionamento,6,1.72
muito boa,5,1.43
qualidade boa,4,1.15
boa distribuição,4,1.15
água tratada,4,1.15

,Contagem,Porcentagem
5.0,203,50.50
4.0,138,34.33
3.0,40,9.95
2.0,15,3.73
0.0,4,1.00
1.0,2,0.50

,Contagem,Porcentagem
bom,49,14.50
boa qualidade,39,11.54
nunca teve problemas,15,4.44
bom serviço,12,3.55
bem tratado,11,3.25
bom funcionamento,10,2.96
esgoto tratado,8,2.37
sem problemas,7,2.07
tratado,7,2.07
muito bom,5,1.48

,Contagem,Porcentagem
3.0,140,34.83
5.0,79,19.65
2.0,71,17.66
4.0,64,15.92
0.0,27,6.72
1.0,21,5.22

,Contagem,Porcentagem
falta manutenção,26,7.34
boa qualidade,7,1.98
bom funcionamento,5,1.41
bom,5,1.41
ruas bem iluminadas,5,1.41
lâmpadas queimadas,5,1.41
boa iluminação,4,1.13
falta iluminação,4,1.13
ruas escuras,4,1.13
satisfeito,3,0.85

,Contagem,Porcentagem
3.0,131,32.91
2.0,75,18.84
4.0,68,17.09
0.0,61,15.33
1.0,38,9.55
5.0,25,6.28

,Contagem,Porcentagem
precisa melhorar,14,3.90
falta médicos,7,1.95
precisa melhorar muito,6,1.67
boa qualidade,6,1.67
bom,5,1.39
demora no atendimento,5,1.39
falta de médicos,4,1.11
falta administração,4,1.11
bom atendimento,4,1.11
sempre foi bem atendida,3,0.84

,Contagem,Porcentagem
3.0,129,31.93
4.0,84,20.79
5.0,63,15.59
2.0,59,14.60
1.0,38,9.41
0.0,31,7.67

,Contagem,Porcentagem
bom,9,2.49
bom trabalho,8,2.21
"sempre foi boa , irregular no momento",6,1.66
demora na coleta,6,1.66
precisa melhorar,4,1.10
não está passando,3,0.83
fazem um bom trabalho,3,0.83
satisfeito,3,0.83
boa qualidade,3,0.83
as vezes não passa,3,0.83

,Contagem,Porcentagem
5.0,208,52.93
4.0,117,29.77
3.0,57,14.50
2.0,7,1.78
0.0,2,0.51
1.0,2,0.51

,Contagem,Porcentagem
satisfeito,24,7.06
bom,13,3.82
boa,7,2.06
casa própria,5,1.47
necessita de reformas,5,1.47
bom estado,4,1.18
gosto da minha casa,4,1.18
excelente,4,1.18
muito boa,4,1.18
ótimo estado,4,1.18

,Contagem,Porcentagem
casa própria,326,80.69
casa alugada,61,15.10
casa compartilhada familiarmente,15,3.71
não sabe,2,0.50

,Contagem,Porcentagem
600.0,9,15.25
500.0,8,13.56
400.0,7,11.86
550.0,5,8.47
800.0,4,6.78
450.0,4,6.78
700.0,3,5.08
300.0,3,5.08
650.0,2,3.39
750.0,2,3.39

,Contagem,Porcentagem
100.0,1,25.0
170.0,1,25.0
253.0,1,25.0
350.0,1,25.0

,Contagem,Porcentagem
tranquilo,17,4.46
localização e tranquilidade,13,3.41
tranquilidade,10,2.62
localização,7,1.84
localização e segurança,6,1.57
tranquilidade e localização,4,1.05
tranquilo/sem violência,3,0.79
segurança e localização,3,0.79
comunidade e igreja,3,0.79
tranquilo/comércio,3,0.79

,Contagem,Porcentagem
falta manutenção nas ruas,11,3.65
não tem,7,2.33
nenhum,3,1.00
muita bagunça,3,1.00
drogas e falta de policia,3,1.00
sem pontos negativos,2,0.66
pontos de drogas,2,0.66
mal cheiro da usina e da granja e ponto de drogas,2,0.66
não tem do que reclamar,2,0.66
segurança e falta de eventos,2,0.66

,Contagem,Porcentagem
não,315,78.16
sim,88,21.84

,Contagem,Porcentagem
gosta do bairro,11,4.03
gosta,8,2.93
gosto,7,2.56
gosta do lugar,6,2.20
tranquilo,4,1.47
gosto do bairro,3,1.10
por conta da bagunça,3,1.10
gosta daqui,3,1.10
gosto daqui,3,1.10
eu gosto daqui,2,0.73

,Contagem,Porcentagem
são domingos,5,5.38
para um mais tranquilo,4,4.30
santa maria,4,4.30
nenhum,4,4.30
vila santa rosa,4,4.30
centro,3,3.23
vila mariana,3,3.23
jd alvorada,2,2.15
morro azul,2,2.15
não,2,2.15

,Contagem,Porcentagem
carro,129,32.17
"a pé, carro",51,12.72
a pé,49,12.22
"a pé, bicicleta, carro",20,4.99
"a pé, de ônibus urbano (transcom)",18,4.49
"a pé, de ônibus urbano (transcom), carro",14,3.49
de ônibus urbano (transcom),13,3.24
"bicicleta, carro",12,2.99
"de ônibus urbano (transcom), carro",10,2.49
"a pé, carona, de ônibus urbano (transcom)",10,2.49

,Contagem,Porcentagem
diariamente,210,53.57
não ando a pé,93,23.72
semanalmente,70,17.86
mensalmente,19,4.85

,Contagem,Porcentagem
motocicleta,2,12.50
moto,2,12.50
"moto , diariamente",2,12.50
faço caminhada,1,6.25
moto também,1,6.25
algumas caminhada,1,6.25
"para perto de casa, como açougue, supermercado",1,6.25
a pé na padaria próximo da residência,1,6.25
uso moto,1,6.25
ônibus que serve à empresa,1,6.25

,Contagem,Porcentagem
não ando de bicicleta,266,72.48
semanalmente,52,14.17
diariamente,31,8.45
mensalmente,18,4.90

,Contagem,Porcentagem
anda de moto,2,40.0
não tem bicicleta,1,20.0
como atividade física,1,20.0
moto diariamente,1,20.0

,Contagem,Porcentagem
não ando de carona,254,71.35
semanalmente,51,14.33
mensalmente,31,8.71
diariamente,20,5.62

,Contagem,Porcentagem
eventualmente,4,33.33
as vezes,2,16.67
moto/diariamente,1,8.33
ocasionalmente,1,8.33
esporadicamente,1,8.33
muito difícil,1,8.33
vou para o trabalho,1,8.33
raramente quando preciso,1,8.33

,Contagem,Porcentagem
não ando de táxi,328,92.39
mensalmente,18,5.07
semanalmente,7,1.97
diariamente,2,0.56

,Contagem,Porcentagem
raramente,5,62.5
moto semanalmente,1,12.5
somente quando precisa,1,12.5
muito raramente,1,12.5

,Contagem,Porcentagem
não ando de ônibus,264,71.74
semanalmente,62,16.85
mensalmente,30,8.15
diariamente,12,3.26

,Contagem,Porcentagem
raramente,4,26.67
não passa no bairro,1,6.67
só quando precisar,1,6.67
e difucil andar,1,6.67
só na falta do carro,1,6.67
"já ultilizei diariamente do distrito para mococa, hoje não uso mais, somente eventualmente.",1,6.67
n,1,6.67
se necessário,1,6.67
eventualmente,1,6.67
quando vai viajar,1,6.67

,Contagem,Porcentagem
diariamente,194,51.05
não ando de carro,96,25.26
semanalmente,72,18.95
mensalmente,18,4.74

,Contagem,Porcentagem
moto,5,20.83
as vezes carona,2,8.33
a família usa moto,1,4.17
anda de moto diariamente,1,4.17
fazer compras e passear,1,4.17
vou ao supermercado,1,4.17
motocicleta,1,4.17
moto/ diariamente,1,4.17
n,1,4.17
moto diariamente,1,4.17

,Contagem,Porcentagem
3.0,97,37.45
2.0,54,20.85
0.0,49,18.92
4.0,28,10.81
5.0,22,8.49
1.0,9,3.47

,Contagem,Porcentagem
não utiliza,67,21.68
na,11,3.56
atrasa muito,4,1.29
precisa melhorar,4,1.29
os motoristas correm muito,4,1.29
demora muito,3,0.97
não utilizo,3,0.97
não uso,3,0.97
faltam mais linhas,3,0.97
poderiam ser mais educados,3,0.97

,Contagem,Porcentagem
4.0,154,38.40
3.0,122,30.42
5.0,54,13.47
2.0,43,10.72
0.0,15,3.74
1.0,13,3.24

,Contagem,Porcentagem
bom,41,11.71
boa,16,4.57
precisa melhorar,8,2.29
satisfeito,7,2.00
falta segurança,4,1.14
boa segurança,3,0.86
percebe policiamento,3,0.86
não tem,3,0.86
a policia demora muito pra chegar de mococa para igaraí. devia ter um posto policial lá,3,0.86
tem que melhorar,3,0.86

,Contagem,Porcentagem
3.0,136,34.69
4.0,119,30.36
5.0,68,17.35
2.0,49,12.50
0.0,10,2.55
1.0,10,2.55

,Contagem,Porcentagem
bom,33,10.22
falta respeito,7,2.17
falta de respeito,7,2.17
tranquilo,6,1.86
falta de sinalização,3,0.93
trânsito tranquilo,3,0.93
uso pouco,3,0.93
falta sinalização,3,0.93
não tem,3,0.93
muitos carros,3,0.93

,Contagem,Porcentagem
não,324,84.82
sim,54,14.14
não quer falar,4,1.05

,Contagem,Porcentagem
assalto,9,16.67
furto,5,9.26
roubo,4,7.41
tentativa de assalto,2,3.70
fisica e psicologica,2,3.70
tentativa de furto na sua casa,1,1.85
assalto a sua casa,1,1.85
roubos e assaltos,1,1.85
briga de transito,1,1.85
assaltado na rua,1,1.85

,Contagem,Porcentagem
não se sente inseguro,73,23.17
vila santa rosa,37,11.75
não me sinto inseguro,7,2.22
na vila santa rosa,7,2.22
bairros periféricos à noite,6,1.90
não me sinto insegura,6,1.90
periferia à noite,5,1.59
no meu bairro,5,1.59
nenhum,5,1.59
não,4,1.27

,Contagem,Porcentagem
5.0,22,37.29
4.0,19,32.20
0.0,10,16.95
3.0,6,10.17
1.0,1,1.69
2.0,1,1.69

,Contagem,Porcentagem
não utiliza,176,77.88
na,11,4.87
não,4,1.77
não ultiliza,3,1.33
não utilizo,1,0.44
sim/ melhores condições/ mococa,1,0.44
"pública , mococa, custo",1,0.44
"pública,falta vagas",1,0.44
"publica, muito boa, são domingos",1,0.44
"público, boa qualidade",1,0.44

,Contagem,Porcentagem
5.0,31,36.90
4.0,29,34.52
3.0,14,16.67
0.0,6,7.14
1.0,3,3.57
2.0,1,1.19

,Contagem,Porcentagem
não utiliza,157,67.97
na,12,5.19
não,3,1.30
ensino bom,2,0.87
"público , bom nível",1,0.43
não não,1,0.43
"minha filha está gostando porém, ainda é meio defasado em questão de ensino",1,0.43
particular - unigrau . boa,1,0.43
precisa melhorar a atenção individual dos professores para com um alunos.,1,0.43
particular/ mococa/ qualidade do ensino,1,0.43

,Contagem,Porcentagem
5.0,24,34.29
4.0,22,31.43
3.0,10,14.29
0.0,9,12.86
2.0,3,4.29
1.0,2,2.86

,Contagem,Porcentagem
não utiliza,163,73.09
na,10,4.48
não,4,1.79
ensino fraco,2,0.90
não ultilizo,2,0.90
não utiliza.,2,0.90
ensino bom,1,0.45
"público, indústrial",1,0.45
n,1,0.45
os ensinos médio nas escolas técnicas são ótimos,1,0.45

,Contagem,Porcentagem
5.0,21,43.75
4.0,16,33.33
0.0,6,12.50
3.0,4,8.33
1.0,1,2.08

,Contagem,Porcentagem
não utiliza,169,76.82
na,16,7.27
não,8,3.64
não utiliza.,3,1.36
precisa melhorar,1,0.45
tem ate reveicao gratuita,1,0.45
público/qualidade de ensino/colégio barão,1,0.45
muito bom ensino.,1,0.45
"publico, boa oportunidade, etec francisco garcia",1,0.45
"mococa, profissionalizante, público",1,0.45

,Contagem,Porcentagem
4.0,18,32.14
5.0,15,26.79
3.0,9,16.07
0.0,8,14.29
2.0,5,8.93
1.0,1,1.79

,Contagem,Porcentagem
não utiliza,163,68.49
na,17,7.14
não,11,4.62
não utiliza.,3,1.26
"público,mococa",2,0.84
poderia ter mais opções de cursos,1,0.42
não tão boa,1,0.42
falta cursos bons,1,0.42
"particular, à distância pela internet, mococa",1,0.42
faltam cursos,1,0.42

,Contagem,Porcentagem
4.0,134,33.17
3.0,131,32.43
5.0,78,19.31
2.0,40,9.90
1.0,11,2.72
0.0,10,2.48

,Contagem,Porcentagem
preços altos,11,3.07
satisfeito,8,2.23
bom,7,1.96
falta variedade,5,1.40
tem o que precisa,5,1.40
bons preços,4,1.12
tem variedades,4,1.12
muitas opções,4,1.12
preços bons,4,1.12
sim,4,1.12

,Contagem,Porcentagem
não,162,44.14
ribeirão preto,34,9.26
"sim, ribeirão preto",10,2.72
sim. ribeirão preto,4,1.09
sim ribeirão preto,4,1.09
sim,4,1.09
são paulo,4,1.09
eventualmente ribeirão,3,0.82
não utiliza,3,0.82
raramente,3,0.82

,Contagem,Porcentagem
mais opções,7,3.17
mais barato,5,2.26
não,4,1.81
falta de informação,4,1.81
preços mais acessíveis,3,1.36
preços mais atrativos,2,0.90
viagem à lazer,2,0.90
preços melhores,2,0.90
mais opções de compra,2,0.90
é mais barato,2,0.90

,Contagem,Porcentagem
não compra esse tipo de produto,204,59.48
só em mococa,72,20.99
"parte em mococa, parte em outra cidade",43,12.54
só compra em outra cidade,13,3.79
não compra em mococa,11,3.21

,Contagem,Porcentagem
não,23,24.21
não utiliza,3,3.16
"materiais artesanais , lá encontro o que eu quero além do preço acessível",2,2.11
não compro,2,2.11
cosméticos para revenda,1,1.05
pela internet,1,1.05
são paulo. produtos para celulares.,1,1.05
"cosméticos que vendo, compro pela internet",1,1.05
internet,1,1.05
é aposentado,1,1.05

,Contagem,Porcentagem
sim,308,76.24
não,96,23.76

,Contagem,Porcentagem
fibra,228,75.75
cabo,53,17.61
rádio,20,6.64

,Contagem,Porcentagem
conexão,176,58.09
vivo,43,14.19
ar telecom,21,6.93
conexão telecom,15,4.95
conexao,7,2.31
não soube informar,4,1.32
conexão.,3,0.99
ar telecon,3,0.99
não sabe,3,0.99
não utiliza,2,0.66

,Contagem,Porcentagem
4.0,131,44.11
5.0,99,33.33
3.0,51,17.17
2.0,9,3.03
0.0,6,2.02
1.0,1,0.34

,Contagem,Porcentagem
bom,31,11.27
satisfeito,13,4.73
boa,7,2.55
na,6,2.18
não apresenta problemas,5,1.82
ótima assistência,5,1.82
me atende bem,4,1.45
boa conexão,4,1.45
é bom,3,1.09
funciona bem,3,1.09

,Contagem,Porcentagem
"trabalho, lazer, informação, comunicação, compras",88,27.94
"lazer, informação, comunicação",42,13.33
"lazer, informação, comunicação, compras",31,9.84
"lazer, comunicação",23,7.30
lazer,18,5.71
"lazer, informação",18,5.71
"trabalho, lazer, informação, comunicação",11,3.49
"lazer, informação, compras",10,3.17
informação,10,3.17
"lazer, comunicação, compras",8,2.54

,Contagem,Porcentagem
em crescimento lento,46,11.53
gostaria que melhorasse,45,11.28
estacionado,40,10.03
"preços altos, gostaria que melhorasse",34,8.52
"estacionado, preços altos, gostaria que melhorasse",28,7.02
preços altos,28,7.02
"em crescimento lento, gostaria que melhorasse",23,5.76
"preços altos, em crescimento lento",21,5.26
"estacionado, gostaria que melhorasse",18,4.51
"preços altos, em crescimento lento, gostaria que melhorasse",16,4.01

,Contagem,Porcentagem
3.0,129,33.68
4.0,123,32.11
5.0,81,21.15
2.0,39,10.18
1.0,7,1.83
0.0,4,1.04

,Contagem,Porcentagem
bom,21,6.27
bom atendimento,18,5.37
bem atendido,11,3.28
pode melhorar,6,1.79
bem atendida,5,1.49
muito bem atendido,4,1.19
precisa melhorar,4,1.19
atendem bem,3,0.90
muito bem atendida,3,0.90
sou bem atendido,3,0.90

,Contagem,Porcentagem
mensal,9,2.33
mensal/ física/ mococa,8,2.07
mensal/física/mococa,7,1.81
semanal,5,1.30
"semanal, mococa, 200",4,1.04
mensalmente / fisicamente / mococa,4,1.04
semanal/não sabe/física/pierim,3,0.78
semanalmente,3,0.78
"semanal, mococa, 120",3,0.78
"semanal, mococa, 150",3,0.78

,Contagem,Porcentagem
mococa,284,98.27
ribeirão preto(outra localidade),3,1.04
são benedito das areias(outra localidade),2,0.69

,Contagem,Porcentagem
mensal,11,2.98
anual,11,2.98
só quando necessário,7,1.90
"anual/100,00/física/mococa",6,1.63
anual/física/mococa,5,1.36
"trimestral, mococa, 200",5,1.36
anual/ física/ mococa,4,1.08
as vezes,4,1.08
"trimestral, mococa, internet, 200",4,1.08
"trimestral, mococa, internet, 300",4,1.08

,Contagem,Porcentagem
mococa,181,90.05
ribeirão preto (outra localidade),7,3.48
ribeirão preto(outra localidade),5,2.49
são paulo (outra localidade),2,1.00
franca(outra localidade),1,0.50
são paulo(outra localidade),1,0.50
internet,1,0.50
franca (outra localidade),1,0.50
são josé do rio pardo (outra localidade),1,0.50
campinas (outra localidade),1,0.50

,Contagem,Porcentagem
mensal,11,2.99
anual,9,2.45
só quando necessário,7,1.90
"trimestral, mococa, 200",6,1.63
"trimestral, mococa, 300",6,1.63
mensalmente,5,1.36
"anual/200,00/física/mococa",5,1.36
anual/ física/ mococa,4,1.09
ganha,4,1.09
"trimestral, mococa, internet, 300",4,1.09

,Contagem,Porcentagem
mococa,171,83.41
ribeirão preto (outra localidade),18,8.78
são paulo (outra localidade),8,3.90
campinas (outra localidade),2,0.98
"mococa, são paulo",1,0.49
sorocaba (outra localidade),1,0.49
americana (outra localidade),1,0.49
juruaia (outra localidade),1,0.49
ribeirão preto(outra localidade),1,0.49
são josé do rio pardo (outra localidade),1,0.49

,Contagem,Porcentagem
não utiliza,79,31.35
não compra,11,4.37
não,9,3.57
ñ compra,7,2.78
anual,4,1.59
"anual, mococa, 800",3,1.19
"anual, mococa, 600",3,1.19
"anual, 100,00, f, mococa",3,1.19
mensalmente,3,1.19
"anual , mococa, 1000",3,1.19

,Contagem,Porcentagem
mococa,72,97.3
ribeirão preto (outra localidade),2,2.7

,Contagem,Porcentagem
não utiliza,21,6.73
não,19,6.09
não compra,9,2.88
"mensal, mococa, 100",7,2.24
mensalmente,6,1.92
mensal,5,1.60
mensalmente / fisicamente,3,0.96
ñ compra,3,0.96
mensal/ 100/ física/ mococa,3,0.96
n,3,0.96

,Contagem,Porcentagem
mococa,144,88.34
só quando necessário,6,3.68
"mococa, ribeirão preto",3,1.84
quando necessário,3,1.84
ribeirão preto (outra localidade),2,1.23
quem compra é a esposa,1,0.61
anual qdo preciso. loja,1,0.61
mensal de forma fisica,1,0.61
anual/ física/ mococa,1,0.61
são paulo (outra localidade),1,0.61

,Contagem,Porcentagem
n,54,22.22
não,46,18.93
não utiliza,27,11.11
não compra,22,9.05
n.a,11,4.53
ñ compra,7,2.88
na,6,2.47
nunca,5,2.06
não compro,4,1.65
nu,3,1.23

,Contagem,Porcentagem
mococa,10,76.92
cidades grandes (outra localidade),1,7.69
ribeirão preto (outra localidade),1,7.69
são paulo (outra localidade),1,7.69

,Contagem,Porcentagem
n,56,23.63
não,47,19.83
não compra,27,11.39
não utiliza,26,10.97
n.a,11,4.64
ñ compra,7,2.95
nunca,6,2.53
na,5,2.11
não compro,5,2.11
ñ,3,1.27

,Contagem,Porcentagem
mococa,7,77.78
"mococa, ribeirão preto",1,11.11
guaxupé (outra localidade),1,11.11

,Contagem,Porcentagem
não,47,17.34
não utiliza,23,8.49
não compra,18,6.64
n.a,10,3.69
n,10,3.69
ñ compra,7,2.58
lê portais de internet,4,1.48
lê portais de internet diariamente,4,1.48
ñ,3,1.11
raramente,3,1.11

,Contagem,Porcentagem
mococa,14,70.0
são paulo (outra localidade),4,20.0
aparecida do norte (outra localidade),1,5.0
ribeirão preto (outra localidade),1,5.0

,Contagem,Porcentagem
não,31,9.84
só quando necessário,14,4.44
não utiliza,14,4.44
não compra,11,3.49
n.a,10,3.17
n,8,2.54
raro,7,2.22
"semestral, mococa, 200",7,2.22
"trimestral, mococa, 100",6,1.90
mensalmente,4,1.27

,Contagem,Porcentagem
mococa,107,89.92
"mococa, ribeirão preto",7,5.88
"ribeirão preto, são paulo (outra localidade)",1,0.84
"mococa, porto ferreira",1,0.84
bauru (outra localidade),1,0.84
ribeirão preto (outra localidade),1,0.84
são paulo (outra localidade),1,0.84

,Contagem,Porcentagem
não,34,10.86
só quando necessário,14,4.47
não utiliza,13,4.15
não compra,13,4.15
anualmente,10,3.19
n.a,10,3.19
anual,7,2.24
n,6,1.92
quando necessário,5,1.60
"anual , mococa, 1000",5,1.60

,Contagem,Porcentagem
mococa,113,96.58
"mococa, ribeirão preto(outra localidade)",2,1.71
"mococa, ribeirão preto (outra localidade)",1,0.85
"mococa, porto ferreira (outra localidade)",1,0.85

,Contagem,Porcentagem
não,27,8.52
só quando necessário,17,5.36
não compra,12,3.79
n.a,11,3.47
não utiliza,10,3.15
anualmente,9,2.84
anual,6,1.89
quando necessário,5,1.58
raro,4,1.26
raramente/não sabe/física/lojas cem,3,0.95

,Contagem,Porcentagem
3.0,105,44.49
4.0,42,17.80
2.0,41,17.37
5.0,26,11.02
0.0,12,5.08
1.0,10,4.24

,Contagem,Porcentagem
não conheço,45,13.35
n,26,7.72
perigosa,18,5.34
não conhece,18,5.34
não,16,4.75
falta manutenção,11,3.26
bom,8,2.37
boa,8,2.37
não uso,7,2.08
buracos,7,2.08

,Contagem,Porcentagem
4.0,123,44.40
3.0,65,23.47
5.0,62,22.38
2.0,16,5.78
0.0,7,2.53
1.0,4,1.44

,Contagem,Porcentagem
não conheço,33,10.19
bom,33,10.19
boa,31,9.57
não,13,4.01
falta manutenção,9,2.78
não conhece,8,2.47
pista boa,8,2.47
não utiliza,7,2.16
perigosa,6,1.85
boas estradas,6,1.85

,Contagem,Porcentagem
3.0,78,38.05
2.0,55,26.83
4.0,27,13.17
1.0,20,9.76
5.0,17,8.29
0.0,8,3.90

,Contagem,Porcentagem
não conheço,48,14.04
n,33,9.65
perigosa,21,6.14
não,17,4.97
não conhece,13,3.80
boa,12,3.51
não utiliza,7,2.05
perigosa e falta manutenção,6,1.75
n.a,6,1.75
não uso,6,1.75

,Contagem,Porcentagem
5.0,210,71.67
4.0,71,24.23
3.0,9,3.07
2.0,2,0.68
0.0,1,0.34

,Contagem,Porcentagem
não conheço,29,8.73
muito boa,22,6.63
boa,16,4.82
não,15,4.52
pista dupla,14,4.22
ótimas estradas,12,3.61
excelente,10,3.01
ótima,9,2.71
não conhece,7,2.11
bom,7,2.11

,Contagem,Porcentagem
4.0,118,37.82
3.0,83,26.60
5.0,78,25.00
2.0,24,7.69
0.0,6,1.92
1.0,3,0.96

,Contagem,Porcentagem
boa,24,7.34
não conheço,22,6.73
não,16,4.89
ótimas estradas,11,3.36
falta manutenção e duplicação,10,3.06
bom,7,2.14
muito boa,7,2.14
não conhece,7,2.14
boa pista,5,1.53
falta duplicação,4,1.22

,Contagem,Porcentagem
3.0,167,55.30
2.0,59,19.54
4.0,33,10.93
5.0,16,5.30
0.0,15,4.97
1.0,12,3.97

,Contagem,Porcentagem
perigosa,68,20.42
não conheço,25,7.51
não,14,4.20
boa,10,3.00
perigosas,7,2.10
não utiliza,6,1.80
sem acostamento,5,1.50
muitas curvas,5,1.50
estradas perigosas,4,1.20
perigosa e falta manutenção,4,1.20

,Contagem,Porcentagem
3.0,79,48.77
2.0,36,22.22
0.0,15,9.26
1.0,14,8.64
4.0,11,6.79
5.0,7,4.32

,Contagem,Porcentagem
não conheço,78,23.64
n,31,9.39
falta manutenção,26,7.88
não,24,7.27
não conhece,23,6.97
não utiliza,10,3.03
muitos buracos,6,1.82
na,4,1.21
n.a,4,1.21
não uso,4,1.21

,Contagem,Porcentagem
3.0,141,37.01
2.0,81,21.26
1.0,64,16.80
0.0,45,11.81
4.0,40,10.50
5.0,10,2.62

,Contagem,Porcentagem
muitos buracos,46,12.89
falta manutenção,46,12.89
buracos,20,5.60
péssimo estado,10,2.80
muito buraco,7,1.96
precisa melhorar,6,1.68
muito buracos,5,1.40
não conheço,4,1.12
precisa melhorar muito,3,0.84
bom,3,0.84

,Contagem,Porcentagem
não,88,24.04
n,13,3.55
raramente,6,1.64
não tem,3,0.82
passeio,3,0.82
não me desloco muito,3,0.82
sim,3,0.82
"sim, visitar parentes",2,0.55
"ribeirão preto , quinzenal",2,0.55
"sim , passear, sempre que posso .",2,0.55

,Contagem,Porcentagem
3.0,120,30.46
4.0,108,27.41
2.0,60,15.23
5.0,52,13.20
1.0,31,7.87
0.0,23,5.84

,Contagem,Porcentagem
bom,27,7.38
bom atendimento,14,3.83
demora no atendimento,8,2.19
precisa melhorar,7,1.91
falta mais especialidades,5,1.37
falta médicos,5,1.37
mal atendimento,4,1.09
satisfeito,4,1.09
poderia melhorar,3,0.82
sempre foi bem atendida,3,0.82

,Contagem,Porcentagem
público,231,58.04
convênio,131,32.91
"público, convênio",36,9.05

,Contagem,Porcentagem
unimed,36,18.27
não,16,8.12
"unimed, abrangência",11,5.58
santa casa,7,3.55
"unimed, qualidade",3,1.52
na,3,1.52
unimed - convênio da empresa,2,1.02
"santa casa , custo benefício",2,1.02
-,2,1.02
"unimed, pela empresa",2,1.02

,Contagem,Porcentagem
não,151,47.19
n,20,6.25
não utiliza,11,3.44
casa branca,3,0.94
ñ,3,0.94
não.,3,0.94
"sim, casa branca",2,0.62
divinolândia,2,0.62
ñ utiliza,2,0.62
"raramente, ribeirão",2,0.62

,Contagem,Porcentagem
não,287,82.71
sim,60,17.29

,Contagem,Porcentagem
3.0,19,29.23
4.0,16,24.62
5.0,14,21.54
2.0,9,13.85
0.0,4,6.15
1.0,3,4.62

,Contagem,Porcentagem
na,23,20.91
não,16,14.55
n,6,5.45
não utiliza,5,4.55
n.a,4,3.64
ruim,3,2.73
"muito ruim , mococa-divinolândia, mococa-casa branca , mococa-campinas, algumas vezes .",2,1.82
muita demora e veículos inadequados,1,0.91
"divinolândia, atrasa demais a condução",1,0.91
bom,1,0.91

,Contagem,Porcentagem
4.0,77,43.50
5.0,55,31.07
3.0,31,17.51
2.0,7,3.95
0.0,6,3.39
1.0,1,0.56

,Contagem,Porcentagem
não utiliza,93,27.03
não,27,7.85
na,22,6.40
n,16,4.65
nu,7,2.03
n.a,7,2.03
"mococa, mensal",6,1.74
não utiliza.,6,1.74
"mococa, mensalmente",6,1.74
"mensal , mococa",5,1.45

,Contagem,Porcentagem
4.0,33,32.67
3.0,28,27.72
5.0,13,12.87
0.0,12,11.88
2.0,10,9.90
1.0,5,4.95

,Contagem,Porcentagem
não utiliza,109,31.87
n,42,12.28
não,32,9.36
na,31,9.06
nu,10,2.92
não utiliza.,6,1.75
n.a,6,1.75
não frequenta,4,1.17
mococa/ as vezes,3,0.88
ñ,3,0.88

,Contagem,Porcentagem
4.0,84,41.18
3.0,54,26.47
5.0,36,17.65
2.0,19,9.31
0.0,7,3.43
1.0,4,1.96

,Contagem,Porcentagem
não utiliza,85,25.76
não,23,6.97
na,17,5.15
"semanal, mococa",8,2.42
"mococa, mensal",7,2.12
"mococa, semanal",6,1.82
nu,5,1.52
"mococa, semanalmente",5,1.52
n.a,5,1.52
n,5,1.52

,Contagem,Porcentagem
4.0,52,52.53
5.0,22,22.22
3.0,16,16.16
0.0,6,6.06
2.0,3,3.03

,Contagem,Porcentagem
não utiliza,126,37.17
não,36,10.62
na,31,9.14
n,26,7.67
nu,11,3.24
"mococa, semanal",10,2.95
n.a,8,2.36
não frequenta,6,1.77
não utiliza.,6,1.77
"mococa, diário",4,1.18

,Contagem,Porcentagem
4.0,23,36.51
3.0,19,30.16
0.0,9,14.29
5.0,7,11.11
2.0,3,4.76
1.0,2,3.17

,Contagem,Porcentagem
não utiliza,122,36.09
n,47,13.91
não,33,9.76
na,31,9.17
nu,12,3.55
quando tem,9,2.66
n.a,8,2.37
não utiliza.,8,2.37
não frequenta,6,1.78
ñ,3,0.89

,Contagem,Porcentagem
4.0,86,56.58
5.0,28,18.42
3.0,26,17.11
2.0,8,5.26
1.0,2,1.32
0.0,2,1.32

,Contagem,Porcentagem
não utiliza,98,28.99
não,37,10.95
na,29,8.58
"mococa, mensal",11,3.25
n,9,2.66
"mococa, eventualmente",7,2.07
nu,5,1.48
n.a,5,1.48
não utiliza.,5,1.48
nao utiliza,5,1.48

,Contagem,Porcentagem
4.0,87,46.77
5.0,68,36.56
3.0,22,11.83
2.0,7,3.76
0.0,1,0.54
1.0,1,0.54

,Contagem,Porcentagem
não utiliza,76,22.82
não,36,10.81
na,20,6.01
n,20,6.01
n.a,7,2.10
"mococa, quando tem",6,1.80
"mococa, eventualmente",6,1.80
não utiliza.,6,1.80
nu,4,1.20
são domingos,3,0.90

,Contagem,Porcentagem
4.0,27,40.30
5.0,20,29.85
3.0,8,11.94
0.0,7,10.45
2.0,4,5.97
1.0,1,1.49

,Contagem,Porcentagem
não utiliza,118,35.01
n,48,14.24
não,42,12.46
na,28,8.31
nu,11,3.26
n.a,8,2.37
quando tem,6,1.78
não utiliza.,5,1.48
não frequenta,4,1.19
não frequento,3,0.89

,Contagem,Porcentagem
4.0,68,55.74
3.0,23,18.85
5.0,18,14.75
0.0,6,4.92
2.0,4,3.28
1.0,3,2.46

,Contagem,Porcentagem
não utiliza,107,32.23
não,41,12.35
na,28,8.43
n,11,3.31
não utiliza.,8,2.41
nu,7,2.11
n.a,7,2.11
"mococa, mensal",7,2.11
quando tem,5,1.51
não frequenta,4,1.20

,Contagem,Porcentagem
4.0,87,63.04
3.0,27,19.57
5.0,16,11.59
0.0,4,2.90
2.0,3,2.17
1.0,1,0.72

,Contagem,Porcentagem
não utiliza,105,32.21
não,39,11.96
na,31,9.51
"mococa, semanal",16,4.91
n.a,8,2.45
nu,8,2.45
não utiliza.,7,2.15
n,5,1.53
"mococa, semanalmente",5,1.53
não frequenta,4,1.23

,Contagem,Porcentagem
4.0,87,47.80
5.0,67,36.81
3.0,23,12.64
2.0,2,1.10
1.0,2,1.10
0.0,1,0.55

,Contagem,Porcentagem
não utiliza,190,52.05
na,16,4.38
mococa/as vezes,5,1.37
"mococa, mensal",4,1.10
não,4,1.10
mococa e ribeirão preto/ as vezes,4,1.10
mococa/ as vezes,3,0.82
"mococa, semanal",3,0.82
"mococa, eventualmente",2,0.55
mococa/ semanal,2,0.55

,Contagem,Porcentagem
ribeirão preto,36,9.40
são joão da boa vista,5,1.31
nenhuma,4,1.04
"ribeirão preto , variedade",4,1.04
ribeirão preto e campinas,4,1.04
não sabe,3,0.78
ribeirão preto.,2,0.52
não utiliza,2,0.52
casa branca e divinolândia devido a saúde,2,0.52
ribeirão preto(comércio),2,0.52

,Contagem,Porcentagem
não,153,50.33
sim,151,49.67

,Contagem,Porcentagem
não,101,31.27
não viaja,19,5.88
n,7,2.17
ñ viaja,7,2.17
não viajo,6,1.86
não viaja muito,6,1.86
não costuma viajar,4,1.24
não utiliza,3,0.93
"semestral, praia e campo, 3000.",2,0.62
raramente,2,0.62

,Contagem,Porcentagem
2000.0,25,22.12
1000.0,25,22.12
3000.0,17,15.04
1500.0,5,4.42
300.0,4,3.54
600.0,3,2.65
500.0,3,2.65
2500.0,3,2.65
200.0,3,2.65
4000.0,3,2.65

,Contagem,Porcentagem
não,297,74.62
sim,101,25.38

,Contagem,Porcentagem
casarões e fazendas,24,21.62
fazenda buracão,10,9.01
fazendas,7,6.31
não,5,4.50
rodeio,3,2.70
fazendas e casarões,3,2.70
casarões,3,2.70
casarões e fazendas antigas,2,1.80
expoam,2,1.80
hotéis fazendas,2,1.80

,Contagem,Porcentagem
sim,91,64.08
não,51,35.92

,Contagem,Porcentagem
patrimônio histórico,5,4.17
não tem,3,2.50
falta estrutura,2,1.67
podem ser melhor explorados turisticamente,2,1.67
importante,2,1.67
bom potencial turístico,2,1.67
-,2,1.67
não tem muitas opções,1,0.83
"sua cunhada trabalha na fazenda nobre, onde tem equitação e oferece diversos tipos de passeios",1,0.83
e bonita,1,0.83

,Contagem,Porcentagem
melhoria na saúde,8,2.00
emprego,8,2.00
empregos,7,1.75
não,6,1.50
mais empregos,6,1.50
mais emprego,3,0.75
mais oportunidades de emprego,3,0.75
mais empregos para os jovens,3,0.75
mais indústrias,2,0.50
"educação, saúde , segurança e trabalho .",2,0.50

,Contagem,Porcentagem
não,243,62.95
não.,11,2.85
"sim , internet",9,2.33
"sim, internet",6,1.55
sim,4,1.04
"sim, televisão",3,0.78
não .,2,0.52
sim pelas outras pessoas,2,0.52
não tinha ouvido,2,0.52
"sim , tv direta",2,0.52

,Contagem,Porcentagem
não,89,41.98
ñ,8,3.77
mais emprego,5,2.36
excelente iniciativa este projeto 2050.,2,0.94
"uma cidade com excelente potencial, mas que necessita ser melhor administrada pelo poder público., política",2,0.94
boa iniciativa esse projeto 2050,2,0.94
"mococa precisa ser mais amada , mais bem cuidada por seus governantes , pela polícia e a própria população. , política",2,0.94
"melhorar a competência dos políticos , política",1,0.47
mercado popular com seus plantios,1,0.47
"acredita no potencial da cidade desde que com uma administração séria, , política",1,0.47

,Contagem,Porcentagem
gosta de morar em mococa,3,9.38
"a entrevistada mora com a filha mais nova no pôr-do-sol, mas somente vão para sua casa para dormir.",1,3.12
"moram pai, mãe dois filhos e um filho está preso,",1,3.12
baixo nível da administração pública atrapalha demais a cidade,1,3.12
ficou sem jeito de mencionar valores,1,3.12
prescisa de um emprego urgente,1,3.12
o sr. paulo ajuda na manutenção do parque ecológico,1,3.12
pergunta 31 não soube responder,1,3.12
sugestão montar um posto de atendimento da policia em igaraí,1,3.12
gosta de mococa e quer ela melhor,1,3.12

,Contagem,Porcentagem
mensal,9,2.33
mensal/ física/ mococa,8,2.07
mensal/física/mococa,7,1.81
semanal,5,1.30
"semanal, mococa, 200",4,1.04
mensalmente / fisicamente / mococa,4,1.04
semanal/não sabe/física/pierim,3,0.78
semanalmente,3,0.78
"semanal, mococa, 120",3,0.78
"semanal, mococa, 150",3,0.78

,Contagem,Porcentagem
200,33,11.66
100,31,10.95
150,31,10.95
300,25,8.83
500,20,7.07
120,16,5.65
400,14,4.95
700,12,4.24
600,11,3.89
50,10,3.53

,Contagem,Porcentagem
mensal,11,2.98
anual,11,2.98
só quando necessário,7,1.90
"anual/100,00/física/mococa",6,1.63
anual/física/mococa,5,1.36
"trimestral, mococa, 200",5,1.36
mensalmente,4,1.08
"trimestral, mococa, internet, 300",4,1.08
"trimestral, mococa, internet, 200",4,1.08
as vezes,4,1.08

,Contagem,Porcentagem
200.0,60,30.30
100.0,35,17.68
300.0,31,15.66
150.0,17,8.59
400.0,9,4.55
50.0,7,3.54
500.0,7,3.54
120.0,5,2.53
250.0,4,2.02
30.0,3,1.52

,Contagem,Porcentagem
mensal,11,2.99
anual,9,2.45
só quando necessário,7,1.90
"trimestral, mococa, 200",6,1.63
"trimestral, mococa, 300",6,1.63
mensalmente,5,1.36
"anual/200,00/física/mococa",5,1.36
anual/ física/ mococa,4,1.09
ganha,4,1.09
"trimestral, mococa, internet, 300",4,1.09

,Contagem,Porcentagem
300.0,49,24.38
200.0,45,22.39
100.0,22,10.95
400.0,14,6.97
500.0,13,6.47
250.0,10,4.98
150.0,9,4.48
50.0,8,3.98
1000.0,6,2.99
80.0,5,2.49

,Contagem,Porcentagem
não utiliza,79,31.35
não compra,11,4.37
não,10,3.97
ñ compra,7,2.78
anual,4,1.59
mensalmente,3,1.19
"anual, mococa, 600",3,1.19
"anual , mococa, 1000",3,1.19
"anual, 100,00, f, mococa",3,1.19
"anual, mococa, 800",3,1.19

,Contagem,Porcentagem
200.0,11,12.94
300.0,11,12.94
150.0,10,11.76
500.0,8,9.41
800.0,8,9.41
100.0,8,9.41
600.0,5,5.88
1000.0,5,5.88
400.0,5,5.88
50.0,4,4.71

,Contagem,Porcentagem
não utiliza,21,6.73
não,19,6.09
não compra,9,2.88
"mensal, mococa, 100",7,2.24
mensalmente,6,1.92
mensal,5,1.60
mensalmente / fisicamente,3,0.96
ñ compra,3,0.96
mensal/ 100/ física/ mococa,3,0.96
n,3,0.96

,Contagem,Porcentagem
100.0,42,26.92
50.0,23,14.74
80.0,12,7.69
300.0,12,7.69
200.0,11,7.05
150.0,11,7.05
60.0,10,6.41
30.0,7,4.49
70.0,5,3.21
90.0,4,2.56

,Contagem,Porcentagem
n,54,22.22
não,46,18.93
não utiliza,27,11.11
não compra,22,9.05
n.a,11,4.53
ñ compra,7,2.88
na,6,2.47
nunca,5,2.06
não compro,4,1.65
nu,3,1.23

,Contagem,Porcentagem
600.0,3,25.00
500.0,3,25.00
1000.0,2,16.67
1500.0,1,8.33
100.0,1,8.33
50.0,1,8.33
300.0,1,8.33

,Contagem,Porcentagem
n,56,23.63
não,47,19.83
não compra,27,11.39
não utiliza,26,10.97
n.a,11,4.64
ñ compra,7,2.95
nunca,6,2.53
na,5,2.11
não compro,5,2.11
ñ,3,1.27

,Contagem,Porcentagem
100.0,4,50.0
30.0,1,12.5
140.0,1,12.5
200.0,1,12.5
280.0,1,12.5

,Contagem,Porcentagem
não,47,17.34
não utiliza,23,8.49
não compra,18,6.64
n.a,10,3.69
n,10,3.69
ñ compra,7,2.58
lê portais de internet,4,1.48
lê portais de internet diariamente,4,1.48
ñ,3,1.11
raramente,3,1.11

,Contagem,Porcentagem
50.0,7,19.44
100.0,7,19.44
80.0,4,11.11
15.0,2,5.56
20.0,2,5.56
60.0,2,5.56
10.0,2,5.56
200.0,2,5.56
30.0,2,5.56
40.0,1,2.78

,Contagem,Porcentagem
não,31,9.84
só quando necessário,14,4.44
não utiliza,14,4.44
não compra,11,3.49
n.a,10,3.17
n,8,2.54
raro,7,2.22
"semestral, mococa, 200",7,2.22
"trimestral, mococa, 100",6,1.90
mensalmente,4,1.27

,Contagem,Porcentagem
200.0,30,30.0
100.0,27,27.0
300.0,10,10.0
50.0,7,7.0
30.0,6,6.0
150.0,5,5.0
1.0,3,3.0
500.0,2,2.0
20.0,2,2.0
350.0,1,1.0

,Contagem,Porcentagem
não,34,10.86
só quando necessário,14,4.47
não utiliza,13,4.15
não compra,13,4.15
anualmente,10,3.19
n.a,10,3.19
anual,7,2.24
n,6,1.92
quando necessário,5,1.60
"anual , mococa, 1000",5,1.60

,Contagem,Porcentagem
1000.0,23,27.71
2000.0,14,16.87
500.0,9,10.84
800.0,8,9.64
1500.0,7,8.43
600.0,5,6.02
1200.0,4,4.82
100.0,3,3.61
1800.0,2,2.41
300.0,1,1.20

,Contagem,Porcentagem
não,27,8.52
só quando necessário,17,5.36
não compra,12,3.79
n.a,11,3.47
não utiliza,10,3.15
anualmente,9,2.84
anual,6,1.89
quando necessário,5,1.58
raro,4,1.26
raramente/não sabe/física/lojas cem,3,0.95

,Contagem,Porcentagem
2000.0,27,25.96
1000.0,12,11.54
3000.0,9,8.65
1500.0,9,8.65
800.0,7,6.73
500.0,7,6.73
400.0,5,4.81
130.0,4,3.85
200.0,4,3.85
1300.0,2,1.92

,Contagem,Porcentagem
não,27,8.52
só quando necessário,17,5.36
não compra,12,3.79
n.a,11,3.47
não utiliza,10,3.15
anualmente,9,2.84
anual,6,1.89
quando necessário,5,1.58
raro,4,1.26
raramente/não sabe/física/lojas cem,3,0.95

,Contagem,Porcentagem
mococa,93,91.18
"mococa, ribeirão preto (outra localidade)",8,7.84
"mococa, são paulo (outra localidade)",1,0.98